/*==================== Main Body Content ====================*/

body#background {
    background-image: url('../images/backgrounds/background_4096x2160.png');
    background-color: #f7e72c;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    width: auto;
    text-align: center;
}

.banner {
    max-height: 220px;
    max-width: 100%;
}


/*================== End Main Body Content ==================*/


/*===================== @media Queries ======================*/

@media only screen and (max-device-width: 768px) {
    .character {
        display: block;
        height: 150px;
    }
    #gameMessage {
        font-size: 30px;
    }
}


/*
@media only screen and (min-width: 640px) {
    #background {
        background-image: url('../images/backgrounds/background_640x540.png');
    }
}

@media only screen and (min-width: 768px) {
    #background {
        background-image: url('../images/backgrounds/background_1280x720.png');
    }
}

@media only screen and (min-width: 1140px) {
    #background {
        background-image: url('../images/backgrounds/background_1920x1080.png');
    }
}

@media only screen and (min-width: 2048px) {
    #background {
        background-image: url('../images/backgrounds/background_2048x1080.png');
    }
}

@media only screen and (min-width: 3840px) {
    #background {
        background-image: url('../images/backgrounds/background_4096x2160.png');
    }
}
*/


/*==================== End @media Queries ====================*/

.characterWrapper {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#gameMessage {
    text-align: center;
    font-size: 10px;
}

#choose-enemy-button {
    visibility: hidden;
}

#restart-button {
    visibility: hidden;
}

#turn-counter {
    font-size: 150%;
}


/*==================== Character Rendering ===================*/

.character {
    width: 153px;
    margin: 0px 40px 0px 40px;
    cursor: pointer;
    display: inline-block;
}

.character img {
    border: 0 none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.character-name {
    text-align: center;
    text-transform: capitalize;
    line-height: 30px;
    font-family: 'Itim', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
}

.character-health {
    text-align: center;
}


/*================== End Character Rendering ==================*/


/*====================== Battle Rendering =====================*/

.attack {
    text-align: center;
}

.action {
    margin: 15px 0px;
}

#attack-button {
    visibility: hidden;
}

.btn {
    background: #000;
    color: #f7e72c;
}

.enemy {
    width: 153px;
    margin: 5px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    background-color: #f7e72c;
    float: left;
    color: #000;
}

#attacker {
    padding: 5px;
    color: #000;
}

.target-enemy {
    background-color: transparent;
    color: #000;
    font-size: 20px;
}


/*==================== End Battle Rendering =====================*/


/*====================== Enemy Rendering ========================*/

#available-to-attack-section {
    float: right;
    color: #000;
}

#available-to-attack-section img {
    height: 100px;
}


/*===================== End Enemy Rendering =====================*/


/*===================== Defender Rendering ======================*/

#defender-name {
    text-align: center;
    color: #000;
}

#defender-image {
    padding: 0px 16px;
    margin: 3px 0px;
}

#defender-health {
    text-align: center;
    color: #000;
}


/*=================== End Defender Rendering ====================*/